<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="assets/images/small_logo.png">
    <title>Project - Profile</title>
    <link rel="stylesheet" href="css/style.css" />
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>

<body>
    <div class="wapper">
        <div class="sidebar">
            <header>
                <img src="assets/images/dummy_logo.png" class="logo" />
            </header>
            <div class="menu">
                <div class="item">
                    <a href="dashboard.html">
                    <img src="assets/icons/Dashboard.png" />
                    <span>Dashboard</span>
                    </a>
                </div>
                <div class="item">
                    <a href="appointment.html">
                    <img src="assets/icons/appointment.png" />
                    <span>My Appointments</span></a>
                </div>
                <div class="item">
                    <a href="patient.html">
                    <img src="assets/icons/patient.png" />
                    <span>Patients</span></a>
                </div>
                <div class="item">
                    <a href="staff.html">
                    <img src="assets/icons/staff.png" />
                    <span>Staff</span></a>
                </div>                 
            </div>
        </div>
        <div class="main-container">
            <nav class="header-nav">
                <div class="navbar navbar-expand-lg">
                    <div class="container-fluid">
                        <div class="row w-100">
                            <div class="col-xxl-12 d-flex justify-content-between ">
                                <button class="collapse-btn">
                                    <img src="./assets/icons/collaps-btn.png" />
                                </button>
                                <div class="avatar">
                                    <div class="dropdown">
                                        <button class="dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                         <img src="/assets/icons/avatar.png"></img>
                                         <h6>Amit Shah<span>Admin</span></h6>
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                            <li><a class="dropdown-item" href="profile.html">Profile</a></li>
                                            <li><a class="dropdown-item" href="change-password.html">Change Password</a></li>
                                          <li><a class="dropdown-item" href="login.html">Log Out</a></li>
                                        </ul>
                                     </div>
                                  </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
            <div class="content">
                <div class="row mb-3">
                    <div class="col-xxl-12">
                        <div class="form-body">
                            <div class="row">
                                <div class="col-xxl-12">
                                    <div class="greetingsText mb-3">
                                        <div class="greetingsText-heading">
                                            <h3>Profile</h3>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xxl-6 align-self-center">
                                    <img src="assets/images/profileImage.png" alt="" class="img-fluid">
                                </div>
                                                                
                                <div class="col-xxl-6 align-self-center">
                                    <form class="row g-3">
                                        <div class="col-md-12">
                                        <div class="addProjectlogo">
                                            <div class="upload-img-box">
                                                <div class="circle">
                                                    <img src="assets/images/dummyProfile.png" alt="" />
                                                </div>
                                                <div class="p-image ml-auto">
                                                    <label for="logoSelect">
                                                        <div>
                                                            <img src="assets/images/camera.png" alt="" />
                                                        </div>
                                                    </label>
                                                    <input class="file-upload" id="logoSelect" name="projectLogo" type="file" accept="image/*" >
                                                </div>
                                            </div>
                                            <h6>Profile Image</h6>
                                        </div>
                                      </div>
                                        <div class="col-md-12">
                                            <label for="fullname" class="custom-form-label">Full Name <span class="required-validation">*</span></label>
                                            <input type="text" class="custom-input-field" id="fullname" value="Amit Shah">
                                        </div>                                        
                                        <div class="col-md-12">
                                            <label for="email" class="custom-form-label">Email</label>
                                            <input type="email" class="custom-input-field" id="email"
                                                 value="amitshah@gmail.com">
                                        </div>
                                        <div class="col-md-12">
                                            <label for="contact-number" class="custom-form-label">Contact Number <span class="required-validation">*</span></label>
                                            <input type="text" class="custom-input-field" id="contact-number"
                                                value="9876543210">
                                        </div>
                                        <div class="col-md-12">
                                            <label for="address" class="custom-form-label">Address</label>
                                            <textarea type="text" class="custom-input-field" id="address"
                                           rows="4">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</textarea>    
                                        </div>
                                        <div class="col-md-12 mt-4">
                                            <a href="#" class="custom-btn col-md-6">Save</a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="js/custom.js"></script>
        <script src="js/bootstrap.bundle.min.js"></script>


</body>

</html>